/*imagenes del index*/
 .col {
     padding: 30px;
     transition: all 400ms ease;
 }
 .card {
     box-shadow: 5px 5px 20px black;
     overflow: hidden;
 }
 .card:hover {
     border-radius: 6px;
     padding: 10px;
     background-color: #dbaab7;
     transform: translateY(-3%);   
 }
 .card-img-top {
     width: 100%;
     height: 300px;
 }

