@media screen and (max-width:768px) {
    .fotocontexto {
        display: none;
    }
}
@media screen and (max-width:768px) {
    .fotopeluche {
        display: block;
        height: 200px;
        width: 200px;
    }
}
@media screen and (max-width:768px) {
    .texto-quienes-somos {
        color: map-get($colores, "color-dos");
        font-family: 'Cairo', sans-serif;
    }
}
@media screen and (max-width:768px) {
    .parrafo {
        color: map-get($colores, "color-dos");
        font-family: 'Cairo', sans-serif;
    }
}

@media screen and (max-width:390px) {
    .fotologo {
        width: 100px;
    }
}

@media screen and (max-width:768px) {
    .colorfondomain {
        background-color: #0e161d;
    }

}


@media screen and (max-width:991px) {
    .navbar-brand {
        display: block;
    }
}
@media screen and (max-width:768px) {
    .card-group {
        display: none;
    }
}
@media screen and (max-width:992px) {
    .card-padding {
        padding: 0 10rem;
    }
}
@media screen and (max-width:576px) {
    .card-padding {
        padding: 0 2rem;
    }
}