@media screen and (max-width:768px) {
    .fotocontexto {
        display: none;
    }
}
@media screen and (max-width:768px) {
    .fotopeluche {
        display: block;
        height: 200px;
        width: 200px;
    }
}
@media screen and (max-width:768px) {
    .texto-quienes-somos {
        color: white;
        font-family: 'Cairo', sans-serif;
    }
}

@media screen and (max-width:390px) {
    .fotologo {
        width: 100px;
    }
}

@media screen and (max-width:768px) {
    .colorfondomain {
        background-color: #0e161d;
    }

}


@media screen and (max-width:991px) {
    .navbar-brand {
        display: block;
    }
}