.fotocontexto {
    border: solid 2px white;
    background-color: map-get($colores, "color-tres");
    width: 350px;
    height: 350px;
    padding: 5px;
}
.fotopeluche {
    display: none;
}

.texto-quienes-somos {
    font-family: $tipografia-dos;
    color: map-get($colores, "color-tres");
}