* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}
/* logo pasado a sass */
.fotologo {
    width: 200px;
}
/* main color pasado a sass */
.colorfondomain {
    background-color: #615c5e;
}
/* pasado a sass */
.titulo {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
    color: azure;
    font-size: xx-large;
}

.subtitulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin: 20px;
    color: azure;
    font-size:x-large;
}
.card-title {
    font-weight: 500;
    color: black;
    font-size: medium;
}

/* header pasado a sass */

header {
    background-image: radial-gradient(circle at 44.37% 114.3%, #ff8581 0, #ff798c 8.33%, #ff6e95 16.67%, #ff629a 25%, #ff579c 33.33%, #f54d9a 41.67%, #d44294 50%, #b3398b 58.33%, #963283 66.67%, #7c2d7b 75%, #652a75 83.33%, #512870 91.67%, #3e286c 100%);
    border: solid 6px rgba(128, 128, 128, 0.356);
    width: 100%;
    min-width: 100%;
}

.bNavegacion {
    background-color: rgb(85, 29, 57);
}
header nav {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
    display: none;
}

.nav-link.active {
    background-color: #e2d0bc;
}

.nav-link:hover {
    background-color: blanchedalmond;
}
/*Footer pasado a sass*/
.logofooter {
    width: 50px;
    height: 50px;
}

footer {
    text-decoration: none;
    background-image: radial-gradient(circle at 44.37% 114.3%, #ff8581 0, #ff798c 8.33%, #ff6e95 16.67%, #ff629a 25%, #ff579c 33.33%, #f54d9a 41.67%, #d44294 50%, #b3398b 58.33%, #963283 66.67%, #7c2d7b 75%, #652a75 83.33%, #512870 91.67%, #3e286c 100%);
    width: 100%;
}

.fa-brands {
    color: white;
}

.fa-solid {
    color: white;
}

.redes {
    display: grid;
    grid-template-columns: 40px 40px;
    justify-content: center;
    gap: 10px 20px;
    border: solid 2px #615c5e;
    background-image: radial-gradient(circle at 44.37% 114.3%, #ff8581 0, #ff798c 8.33%, #ff6e95 16.67%, #ff629a 25%, #ff579c 33.33%, #f54d9a 41.67%, #d44294 50%, #b3398b 58.33%, #963283 66.67%, #7c2d7b 75%, #652a75 83.33%, #512870 91.67%, #3e286c 100%);
    padding: 20px;
}

.contacto {
    display: grid;
    grid-template-columns: 40px 40px;
    justify-content: left;
    gap: 10px 20px;
    padding: 20px;
}

.pagoenvio {
    display: grid;
    grid-template-columns: 40px 40px 40px;
    justify-content: left;
    gap: 10px 20px;
    padding: 20px;
}


/*imagenes del index pasadas a sass*/
.col {
    padding: 30px;
    transition: all 400ms ease;
}
.card {
    margin: 5px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}
.card:hover {
    border-radius: 2px;
    padding: 10px;
    background-color: #dbaab7;
    transform: translateY(-3%);   
}
.card-img-top {
    width: 100%;
    height: 300px;
}
/*contacto pasado a sass*/
.form-label {
    color: white;
    margin: 5px;
}
.form-control {
    margin: 5px;
}
.textocontacto {
    margin: 5px;
    color: white;
}

/* .btn {
    margin: 5px;
    color: white;
    background-color: #963283;
} */

.form-check-input:checked {
    background-color: #963283;
    border-color: deeppink;
}

.formulario {
    text-align: center;
}

.form-check {
    margin: 5px;
    color: white;
}
/* botones pasados a sass */
.btn-stock {
    background-color: #615c5e;
    color: white;
}
.btn-sinstock {
    background-color: black;
    color: white;
}
.btn-enviar {
    background-color:rgb(85, 29, 57);
    color: white;

}
/* quienes somos pasado a sass */
.fotocontexto {
    border: solid 2px white;
    background-color: black;
    width: 350px;
    height: 350px;
    padding: 5px;
}
.fotopeluche {
    display: none;
}

.texto-quienes-somos {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
/* proximamente pasado a sass*/
.card-group {
    padding: 10px;
}

/* media query pasado a sass*/
@media screen and (max-width:768px) {
    .fotocontexto {
        display: none;
    }
}
@media screen and (max-width:768px) {
    .fotopeluche {
        display: block;
        height: 200px;
        width: 200px;
    }
}
@media screen and (max-width:768px) {
    .texto-quienes-somos {
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

@media screen and (max-width:390px) {
    .fotologo {
        width: 100px;
    }
}

@media screen and (max-width:768px) {
    .colorfondomain {
        background-color: #0e161d;
    }

}


@media screen and (max-width:991px) {
    .navbar-brand {
        display: block;
    }
}