$colores: (
        "color-gradiente": radial-gradient(circle at 44.37% 114.3%, #ff8581 0, #ff798c 8.33%, #ff6e95 16.67%, #ff629a 25%, #ff579c 33.33%, #f54d9a 41.67%, #d44294 50%, #b3398b 58.33%, #963283 66.67%, #7c2d7b 75%, #652a75 83.33%, #512870 91.67%, #3e286c 100%),
        "color-uno": #615c5e,
        "color-dos": white,
        "color-tres": black,
        "color-cuatro": azure,
        "color-cinco": rgb(85, 29, 57),
        "color-seis": #963283
);

$tipografia-uno: font-family'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$tipografia-dos:font-family 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$tipografia-tres:font-family 'Montserrat', sans-serif;

%boton{
    color: map-get($colores, "color-dos" );
}

%footer{
    display: grid;
    gap: 10px 20px;
    padding: 20px;
}